<!-- Footer -->

<hr>

<footer>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        
	
     
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>


<!-- 
<center>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
</center>
-->
