<!-- Footer -->

<hr>

<footer>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        
	<h4>hosted by 
	<span style="display:inline-block; width: 15%;"></span>

        <a href="https://www.dkfz.de/en/mic/index.php"><img  src="img/mic_logo.png" width="20%"  ></a> </h4><br>
	 <hr><br>
	<h4>powered by 
	<span style="display:inline-block; width: 10%;"></span>
        <a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" width="30%" ></a>
	<span style="display:inline-block; width: 5%;"></span>
	<a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/cami_logo.png" width="18%" ></a></h4><br>
     
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>


<!-- 
<center>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
<style>img {width:20%;}</style><a href="https://hci.iwr.uni-heidelberg.de/vislearn/"><img src="img/vll-logo.png" href="https://www.dkfz.de/en/mic/index.php"></a>
</center>
-->
