<!-- Navigation -->


<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <!--<a class="navbar-brand" href="{{"/" | relative_url }}">Start Bootstrap</a>-->
    <img width="25%" src="{{"/website/img/logo_left_offwhite.png"| absolute_url}}" alt="" class="image1" />
    <img width="35%" src="{{"/website/img/logo_left_black_300.png"| absolute_url}}" alt="" class="image2" />


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
	  <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
         </li>
                <li class="nav-item">
           <a class="nav-link" href="{{"/posts" | relative_url }}">Events</a>
         </li>

        <!-- <li class="nav-item">
           <a class="nav-link" href="{{"/network" | relative_url }}">Network</a>
         </li>-->
	<li class="nav-item">
           <a class="nav-link" href="https://www.meetup.com/Heidelberg-Artificial-Intelligence-Meetup/members/" target="_blank">Members</a>
         </li>
	<li class="nav-item">
           <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
         </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/channel/UCfHWBneOsb7SfOxJepnMQKA?disable_polymer=true" target="_blank">Youtube</a>
    </li>

</ul>
     </div>
  </div>
</nav>
