---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
	    <br>
   	    <a href="{{"/2018/05/15/parameter-space-noise" | relative_url }}" class="btn">Go to event</a>	
	  </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        
<h3>Agenda</h3><p>
heidelberg.ai is a non-profit platform for enthusiasts, students and researchers in the field of Artificial Intelligence. We connect over 500 members.<br><br> 
We provide opportunities for technical discussions, networking and connecting with industrial partners. Our vision is to create a hub of AI expertise in the Heidelberg area.
People with all backgrounds and knowledge levels are welcome to participate.<br><br>
A list of AI-related university courses can be found at the <a href="https://hci.iwr.uni-heidelberg.de/mlai-in-hd" style="text-decoration: underline"> HCI website. </a>

</p>
 <hr><br>

<h3>Join Us</h3>
<p>Sign up for notification of new events on our  <a href="https://www.meetup.com/Heidelberg-Artificial-Intelligence-Meetup/
" style="text-decoration: underline">meetup page.</a></p>
<p>Join our disucussion platform on <a href=" https://tinyurl.com/y7cnnhar">slack.</a></p>  <br> <br> 

        <!-- Home Post List 
        {% for post in site.posts limit : 3 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title"><font size=6>{{ post.title }}</font></h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle"><font size=5>{{ post.subtitle }}</font></h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
           </a>
	  
            
 	{% if post.future_date %}
            <p class="post-meta"> <font color=#0085A1>upcoming:   {{ post.date | date: '%B %d, %Y' }}</font></p>
	{% else %}
 		<p class="post-meta">  {{ post.date | date: '%B %d, %Y' }}</p>
           {% endif %}
          </article>

          <hr>

        {% endfor %}

        
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div> -->
