---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background }}')">
{% else %}
<header class="masthead">
{% endif %}

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
	    <br>
   	    <a href="{{"/2018/06/25/molecular-biology" | relative_url }}" class="btn">Go to event</a>	
	  </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<h3 class="section-heading" >Recent Events</h3><p>
 <!-- Home Post List -->
        {% for post in site.posts limit : 333 %}
	{% if post.future_date %}
	{% else %}
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title"><font size=6>{{ post.title }}</font></h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle"><font size=5>{{ post.subtitle }}</font></h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
           </a>
	  
	  <p class="post-meta">  {{ post.date | date: '%B %d, %Y' }}</p>
          </article>


          <hr>
	{% endif %}
        {% endfor %}

        
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Events &rarr;</a>
        </div>

        
<h3 class="section-heading" >  Agenda</h3><p>
heidelberg.ai is a non-profit platform for enthusiasts, students and researchers in the field of Artificial Intelligence. We connect over 500 members.<br><br> 
We provide opportunities for technical discussions, networking and connecting with industrial partners. Our vision is to create a hub of AI expertise in the Heidelberg area.
People with all backgrounds and knowledge levels are welcome to participate.<br><br>
A list of AI-related university courses can be found at the <a href="https://hci.iwr.uni-heidelberg.de/mlai-in-hd" style="text-decoration: underline"  target="_blank"> HCI website. </a>

</p>
 <hr>

<h3 class="section-heading" >Join Us</h3>
<p>We manage our events through meetup.com. Registration to our platform let's you receive notifications of future events. To help us plan ahead and tie in with other attendees, you can additionally sign up for individual events. Interested? Proceed to free registration here:  <a href="https://www.meetup.com/Heidelberg-Artificial-Intelligence-Meetup/
" style="text-decoration: underline" target="_blank">meetup page.</a></p>
<p>Anything on your mind that you would like to share with the community? Get it out on our <a href=" https://tinyurl.com/y7cnnhar" target="_blank">slack channel.</a></p><br>
       
