---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
	    <br>
   	    <a href="{{"/2018/05/15/parameter-space-noise" | relative_url }}" class="btn">Info and Registration</a>	
	  </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title"><font size=6>{{ post.title }}</font></h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle"><font size=5>{{ post.subtitle }}</font></h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
           </a>
	  
            
 	{% if post.future_date %}
            <p class="post-meta"> <font color=#0085A1>upcoming:   {{ post.date | date: '%B %d, %Y' }}</font></p>
	{% else %}
 		<p class="post-meta">  {{ post.date | date: '%B %d, %Y' }}</p>
           {% endif %}
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
